{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div>
            <h1 class="text-center">Algemene voorwaarden</h1>
            <div >
                <ul class="text-center">
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}